#traveller-detail {
  position: relative;
  top: 12px;
  left: 24px;
  width: 9.5%;
  font-size: 15pt;
  height: 100%;
  background: rgb(255, 255, 255);
  z-index: 99;
}

::v-deep(tbody tr:nth-of-type(even)) {
  background-color: rgba(0, 0, 0, 0.05);
}

#travel-detail {
  position: relative;
  top: 12px;
  left: 20px;
  width: 10.5%;
  font-size: 15pt;
  height: 100%;
  background: rgb(255, 255, 255);
  z-index: 99;
}

#flight-request {
  position: relative;
  top: 40px;
  padding: 10px;
  left: 37px;
  width: 140px;
  font-size: 12pt;
  font-weight: 600;
  height: 100%;
  background: rgb(255, 255, 255);
  z-index: 99;
}

#car-rental-request {
  position: relative;
  top: 40px;
  padding: 10px;
  left: 37px;
  width: 170px;
  font-size: 12pt;
  font-weight: 600;
  height: 100%;
  background: rgb(255, 255, 255);
  z-index: 99;
}

#hotel-request {
  position: relative;
  top: 40px;
  padding: 10px;
  left: 37px;
  width: 130px;
  font-size: 12pt;
  font-weight: 600;
  height: 100%;
  background: rgb(255, 255, 255);
  z-index: 99;
}

#other-transportation-request {
  position: relative;
  top: 40px;
  padding: 10px;
  left: 37px;
  width: 255px;
  font-size: 12pt;
  font-weight: 600;
  height: 100%;
  background: rgb(255, 255, 255);
  z-index: 99;
}
