#traveller-detail {
  position: relative;
  top: 12px;
  left: 24px;
  width: 15%;
  font-size: 15pt;
  height: 100%;
  background: rgb(255, 255, 255);
  z-index: 99;
}

::v-deep(tbody tr:nth-of-type(even)) {
  background-color: rgba(0, 0, 0, 0.05);
}

#travel-detail {
  position: relative;
  top: 12px;
  left: 20px;
  width: 10.5%;
  font-size: 15pt;
  height: 100%;
  background: rgb(255, 255, 255);
  z-index: 99;
}

#travel-process-detail {
  position: relative;
  top: 60px;
  left: 20px;
  width: 16%;
  font-size: 15pt;
  height: 5%;
  background: rgb(255, 255, 255);
  z-index: 99;
}

#flight-request {
  position: relative;
  top: 20px;
  padding: 10px;
  left: 37px;
  width: 140px;
  font-size: 12pt;
  font-weight: 600;
  height: 100%;
  background: rgb(255, 255, 255);
  z-index: 99;
}

#car-rental-request {
  position: relative;
  top: 40px;
  padding: 10px;
  left: 37px;
  width: 170px;
  font-size: 12pt;
  font-weight: 600;
  height: 100%;
  background: rgb(255, 255, 255);
  z-index: 99;
}

#hotel-request {
  position: relative;
  top: 40px;
  padding: 10px;
  left: 37px;
  width: 130px;
  font-size: 12pt;
  font-weight: 600;
  height: 100%;
  background: rgb(255, 255, 255);
  z-index: 99;
}

#other-transportation-request {
  position: relative;
  top: 40px;
  padding: 10px;
  left: 37px;
  width: 255px;
  font-size: 12pt;
  font-weight: 600;
  height: 100%;
  background: rgb(255, 255, 255);
  z-index: 99;
}

#questions-table {
  position: relative;
  top: 16px;
  padding: 10px;
  left: 37px;
  width: 100px;
  font-size: 12pt;
  font-weight: 600;
  height: 2%;
  background: rgb(255, 255, 255);
  z-index: 99;
}

#question-card {
  position: relative;
  top: 18px;
  padding: 10px;
  left: 25px;
  width: 100px;
  font-size: 12pt;
  font-weight: 600;
  height: 8%;
  background: rgb(255, 255, 255);
  z-index: 99;
}

.questions-column {  
  height: 76rem;  
  overflow-y: auto;
}
