/**
 * Usage:
 * @example
 * <v-card class="card--outlined" />
 *   <v-card-title>
 *     <h2>Some Title</h2>
 *   </v-card-title>
 * </v-card>
 */
.v-card.card--outlined > .v-card__title > h2,
.v-card.card--outlined > .v-card__title > h3,
.v-card.card--outlined > .v-card__title > h4 {
  margin-top: -2.25rem;
  background: white;
  padding-left: 0.33rem;
  padding-right: 0.33rem;
}
